:root {
  --dark-blue: #25274d;
  --white: #feffff;
  --green: #25ff65;
  --yellow: #ffdb00;
  --orange: #ff8600;
  background: var(--dark-blue);
  color: var(--white);
}
* {
  box-sizing: border-box;
}
body {
  margin: 8px 0;
}

#appTitle {
  text-align: center;
}

.upperArea {
  padding: 0 5%;
}

#dataDisplayBoard {
  padding: 0 5%;
  width: 100%;
  height: 45vh;
}

#controlPanel {
  font-size: 1.2rem;
}
#controlPanel div {
  margin-bottom: 1rem;
}

input,
select {
  margin-right: 1rem;
}
input {
  width: 5rem;
}
.slider {
  width: 10rem;
}

#InfoDisplayBoard {
  margin-bottom: 2rem;
}
#InfoDisplayBoard div {
  margin-bottom: 1rem;
}

/* ======Data Visualization Display====== */
.dataContainer {
  display: inline-block;
  margin-top: auto;
}

.default {
  background-color: lightblue;
}
.comparing {
  background-color: var(--orange);
}
.swapping {
  background-color: var(--yellow);
}
.done {
  background-color: var(--green);
}

.dataValList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 5%;
}
.dataValList > div {
  margin-right: 3rem;
}
