:root {
  --dark-blue: #25274d;
  --white: #feffff;
  --green: #25ff65;
  --yellow: #ffdb00;
  --orange: #ff8600;
  background: var(--dark-blue);
  color: var(--white);
  box-sizing: border-box;
}
.appTitle {
  text-align: center;
}

#dataDisplayBoard {
  padding: 0 5%;
  width: 90%;
  aspect-ratio: 1.5 / 1;
  max-height: 50vh;
}

.dataContainer {
  display: inline-block;
  margin-top: auto;
}

.default {
  background-color: lightblue;
}
.comparing {
  background-color: var(--orange);
}
.swapping {
  background-color: var(--yellow);
}
.done {
  background-color: var(--green);
}
#controlPanel {
  font-size: 18px;
}
#controlPanel div {
  margin-bottom: 1rem;
}

input,
select {
  margin-right: 1rem;
}
input {
  width: 5rem;
}
